/* Global styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    flex-direction: column;
    background-image: url('assets/bk7.jpg');
    background-size: cover;
    background-position: center;
}

/* Start Screen */
#start-screen {
    text-align: center;
    padding: 20px;
    background-color: #ffeb3b;
    background-image: url('assets/back3.png'); /* Ensure this file is present */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#start-screen h1 {
    color: #ff6347;
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#start-screen p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

/* Game Screen */
#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#timer,
#correct-guesses,
#incorrect-guesses {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
}

#timer {
    font-weight: bold;
    color: #ff6347;
}

#correct-guesses {
    color: #32cd32;
}

#incorrect-guesses {
    color: #ff4500;
}

/* Game Board */
#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ffeb3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.flipped {
    background-color: #ffffff;
}

/* Messages */
#message {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#win-face, #lose-face {
    display: none;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

/* Buttons */
button {
    font-size: 1.5em;
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}
